<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <h1>Edit User</h1>
    <form action="/users/{{ user.id }}/update" method="POST">
        {% csrf_token %}
        <p>
            <label>First Name:</label>
            <input type='text' name='first_name' value='{{ user.first_name }}'>
        </p>
        <p>
            <label>Last Name:</label>
            <input type='text' name='last_name' value='{{ user.last_name }}'>
        </p>
        <p>
            <label>Email:</label>
            <input type='text' name='email' value="{{ user.email }}">
        </p>
        <input type='submit' value='Edit'>
    </form>
</body>
</html>