<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Semi-Restful Users</title>
</head>
<body>
    <h1>Semi-Restful Users</h1>
    <table border="1">
        <tr>
            <th class='1'>id</th>
            <th class='2'>First Name</th>
            <th class='3'>Last Name</th>
            <th class='4'>Email</th>
            <th class='5'>Created At</th>
            <th class='6'>Actions</th>
        </tr>
    {% for user in users %}
        <tr>
            <td class='1'>{{ user.id }}</td>
            <td class='2'>{{ user.first_name }}</td>
            <td class='3'>{{ user.last_name }}</td>
            <td class='4'>{{ user.email }}</td>
            <td class='5'>{{ user.created_at }}</td>
            <td class='6'>
                <a href='users/{{ user.id }}/show'>Show</a> 
                <a href='users/{{ user.id }}/edit'>Edit</a> 
                <a href='users/{{ user.id }}/delete'>Delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <a href='users/new'>Add a new user</a>
</body>
</html>