<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New User</title>
</head>
<body>
    <h1>Add a new User</h1>
    {% if messages %}
    <ul class='messages'>
        {% for message in messages %}
        <li{% if message.tag %} class='{{ message.tag }}' {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action='/create' method='POST'>
        {% csrf_token %}
        <p><label>First Name:</label>
        <input type='text' name='first_name'></p>
        <p><label>Last Name:</label>
        <input type='text' name='last_name'></p>
        <p><label>Email:</label>
        <input type='text' name='email'></p>
        <p><input type='submit' value='Create'></p>
    </form>
</body>
</html>