<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>
    <h1>User Information:</h1>

    <p>
        <label><u>ID</u>:</label> <strong>{{ user.id }}</strong>
    </p>
    <p>
        <label><u>First Name</u>:</label> <strong>{{ user.first_name }}</strong>
    </p>
    <p>
        <label><u>Last Name</u>:</label> <strong>{{ user.last_name }}</strong>
    </p>
    <p>
        <label><u>Email</u>:</label> <strong>{{ user.email }}</strong>
    </p>
    <a href='/'>Go Back</a>
</body>
</html>